.custom_icon_input {
    border-radius: 9999px;  
    border: 3px solid #466547 !important;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    --tw-bg-opacity: 1;
}
.custom_icon_input input {
    border: none;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.6;
    padding: 0.5rem 0.85rem;
    background: transparent !important; 
    padding: 10px 10px;
}
.custom_icon_input input::placeholder {
    color: #c0c0c0;
}
.custom_icon_input input:focus {
    outline: none !important;
    box-shadow: none !important;
}
.custom_icon_input:focus-within {
    border-color: #2563eb;
}
.custom_input_icon_box {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #325434;
}
.custom_input_icon_box svg {
    font-size: 16px;
}

/* ---- Dark Mode -----  */

.custom_icon_input_dark {
    border: 1px solid rgb(92, 90, 90) !important;
}

.custom_icon_input_dark input {
    background-color: var(--dark-gray-theme-color) !important;
    color: var(--primary-gray);
    border: none !important;
}
.custom_icon_input_dark .custom_input_icon_box {
    background-color: rgb(150, 151, 155);
}
.custom_icon_input_dark .custom_input_icon_box svg {
    color: var(--dark-gray-theme-color);
}

/* ----------- xl  */
.customXLInput {
    border: 1.427px solid var(--Color, #0e2232);
    overflow: hidden;
}
.customXLInput input {
    background: transparent;
    color: rgba(11, 28, 42);
    text-align: center;
    font-family: var(--font-Inter);
    font-size: 25.688px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}
.customXLInput input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.customXLInput:focus-within {
    border: 2.3px solid #2563eb;
}
.customXLInput input::placeholder {
    color: rgba(11, 28, 42, 0.37);
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .customXLInput input {
        font-size: 18.688px;
    }
    .custom_icon_input input::placeholder {
        font-size: 14.688px;
    }
}
